<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LearningCadLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LearningCadLib.Properties.Settings>
            <setting name="DefaultCADViewer" serializeAs="String">
				<value>C:\Program Files\Autodesk\DWG TrueView 2023 - English\dwgviewr.exe</value>
            </setting>
            <setting name="AlternativeCADViewer" serializeAs="String">
				<value>C:\Program Files (x86)\LibreCAD\LibreCAD.exe</value>
            </setting>
        </LearningCadLib.Properties.Settings>
    </userSettings>
</configuration>